body{
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 100%;
}

p{
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vh;
  border: 1px solid black;
}

.top-container, 
.bottom-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.top-container {
  height: 8vh;
}

.slider-container {
  width: 45%;
  font-size: medium;
}

#reset-btn {
  width: 25%;
  font-size: medium;
}

form {
  display: flex;
  flex-direction: row;
  width: 30%;
  font-size: x-small;
  border-bottom: 1px solid gray;
}

form label {
  margin: 0.5vh;
  font-weight: bold;
}

form input {
  padding: 0;
  margin: 0.6vh 0.8vh 0.4vh 0vh;
  border: none;
  block-size: 44px;
  box-sizing: border-box;
}

.bottom-container button {
  width: 20%;
  font-size: medium;
  height: 6vh;
}

button:hover {
  background-color: rgb(193, 227, 248);
  color: #000;
}

.selected,
button:active {
  background-color: rgb(0, 92, 200);
  color: #fff;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
}

.board {
  display: flex;
  height: 70vh;
  width: 70vh;
}

.col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}
