body{
  height: 100%;
  width: 100%;
}

.board {
  display: flex;
  border: 1px solid black;
  height: 75vh;
  width: 75vh;
  margin: 3em;
}

.col div:hover {
  background-color: aquamarine;
}

.col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}
