body{
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 100%;
}

p{
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vh;
  border: 1px solid black;
}

.top-container, 
.bottom-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.slider-container, 
#reset-btn {
  width: 50%;
  font-size: medium;
}

.bottom-container button {
  width: 20%;
  font-size: medium;
}

button {
  height: 7vh;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid gray;
}

.board {
  display: flex;
  height: 70vh;
  width: 70vh;
}

.block:hover {
  background-color: aquamarine;
}

.col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}
